.container {
  display: flex;
  flex-direction: column;
  margin: .5rem;
  gap: .5rem;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  gap: .5rem;
  max-width: 700px;
}

.key {
  width: 100%;
  height: 2rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .2rem;
  border-radius: .2rem;
  cursor: pointer;

  border: 1px solid #fff;
  background-color: #444;

  &.correct {
    background-color: #0c7c59;
    border-color: #fff5;
  }

  &.displaced {
    background-color: #EEB91B;
    border-color: #fff5;
  }

  &.incorrect {
    background-color: #000;
    border-color: #fff5;
  }
}


@media screen and (max-width: 600px) {
  .key {
    font-size: .8rem;
  }
}
