.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.boards {
  padding: 1rem;
  width: calc(100% - 2rem);
}
