<div class="container">
  <div class="header">WORDLE DO JONAS</div>
  <div class="games">
    <div>GAMES</div>
    <a routerLink="/ptbr">PT-BR</a>
    <a routerLink="/ptbr2">PT-BR 2</a>
    <a routerLink="/ptbr4">PT-BR 4</a>
    <a routerLink="/en">EN</a>
    <a routerLink="/en2">EN 2</a>
    <a routerLink="/en4">EN 4</a>
  </div>
  <div class="footer">
    <a href="https://github.com/jonas-duarte/wordle" target="_blank">GITHUB</a>
    <a href="https://linkedin.com/in/jonasrdsantos" target="_blank">LINKEDIN</a>
  </div>
</div>
